<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="students" href="/tabs/students">
      <ion-icon aria-hidden="true" name="school"></ion-icon>
      <ion-label>Students</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="courses" href="/tabs/courses">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Courses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="instructors" href="/tabs/instructors">
      <ion-icon aria-hidden="true" name="briefcase"></ion-icon>
      <ion-label>Instructors</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="classrooms" href="/tabs/classrooms">
      <ion-icon aria-hidden="true" name="business"></ion-icon>
      <ion-label>Classrooms</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
