ion-list 
{
    border-radius: 25px;
}

.rounded-modal::part(content) {
  border-radius: 20px;    /* round corners */
  overflow: hidden;       /* ensures header corners are rounded too */
}

.rounded-modal::part(backdrop) {
  backdrop-filter: blur(2px); /* optional: soft blur background */
}

.classroom-row {
  align-items: center;
  margin-bottom: 4px;
}

.classroom-row ion-col {
  padding: 2px 4px;
}
