<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Instructors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-button id="instructor-modal">Add Instructor</ion-button>
    <ion-modal
      trigger="instructor-modal"
      (willDismiss)="onWillDismiss($event)"
      class="rounded-modal"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()" fill="clear" color="danger">
                Cancel
              </ion-button>
            </ion-buttons>
            <ion-title>
              {{ isEditMode ? 'Edit Instructor' : 'New Instructor' }}
            </ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" strong="true">
                {{ isEditMode ? 'Save Changes' : 'Confirm' }}
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding">
          <ion-item>
            <ion-input
              id="instructorId"
              label="Instructor ID"
              labelPlacement="stacked"
              placeholder="Instructor ID"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              id="name"
              label="Name"
              labelPlacement="stacked"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              id="department"
              label="Department"
              labelPlacement="stacked"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              id="email"
              type="email"
              label="Email"
              labelPlacement="stacked"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              id="phone"
              type="tel"
              label="Phone"
              labelPlacement="stacked"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Active</ion-label>
            <ion-toggle id="active" color="primary"></ion-toggle>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>

  <div class="ion-padding">
    <ion-list>
      <ion-list-header>
        @for (col of displayedColumns; track col) {
          <ion-label>{{ col }}</ion-label>
        }
      </ion-list-header>

      @for (instructor of instructors; track instructor; let index = $index) {
        <ion-item-sliding>
          <ion-item>
            <ion-label>{{ instructor.instructorId }}</ion-label>
            <ion-label>{{ instructor.name }}</ion-label>
            <ion-label>{{ instructor.department }}</ion-label>
            <ion-label>{{ instructor.email }}</ion-label>
            <ion-label>{{ instructor.phone }}</ion-label>
            <ion-label>
              {{ instructor.active == 'false' ? 'No' : 'Yes' }}
            </ion-label>
          </ion-item>

          <ion-item-options>
            <ion-button
              color="secondary"
              (click)="fetchInstructor(instructor.instructorId)"
            >
              Edit
            </ion-button>
            <ion-button
              color="danger"
              (click)="deleteInstructor(instructor.instructorId)"
            >
              Delete
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
      }
    </ion-list>
  </div>
</ion-content>